html {
	scroll-behavior: smooth;
}
body {
	background-image: url('https://cdn.pixabay.com/photo/2017/03/10/14/05/background-2132913_1280.jpg');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	margin-left: 0px;
}
h1 {
	font-family: Anton;
	font-weight: 300;
	font-size: 2.5rem;
	margin-bottom: 10px;
	margin-left: 3%;
	padding: 10px;
	color: rgb(197, 211, 221);
}
#header {
	display: flex;
	background-color: rgba(0, 0, 0, 0.416);
	width: 70%;
	margin-top: 70px;
	margin-left: 10%;
	justify-content: left;
	border-radius: 30px 30px 0px 30px;
	color: rgb(212, 220, 226);
	font-family: 'Bebas Neue', 'Anton';
	font-size: 4rem;
}
header span {
	margin: auto 0px;
}

.logo {
	width: 15%;
	min-width: 80px;
	height: 15%;
	padding: 10px;
}
.tel {
	margin: auto;
	width: 250px;
	font-family: Anton;
	background-color: #00000098;
	font-size: 30px;
	color: aliceblue;
	display: flex;
	justify-content: right;
	margin-top: 30px;
	margin-right: 10%;
}
.tel p {
	margin: auto;
	padding: 10px;
}
#menuItem {
	display: flex;
	margin-left: 20%;
	background-color: rgba(0, 0, 0, 0.473);
	width: 70%;
	justify-content: right;
	border-radius: 0px 30px 0px 0px;
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.623);
}
#menuItem ul li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin: 15px 10px;
}
#menuItem ul li a {
	font-family: 'Lexend Giga', serif;
	font-weight: 600;
	font-size: 1.3rem;
	color: rgb(197, 211, 221);
	text-decoration: none;
	transition: 300ms;
	border: 3px solid rgba(106, 184, 248, 0);
}
#menuItem ul li a:hover {
	font-weight: 700;
	background-color: #2a137756;
	border: 3px solid rgba(106, 184, 248, 0.842);
	border-radius: 7px;
	color: rgb(210, 220, 255);
}

.order-space {
	width: 80%;
	height: 300px;
	margin: auto;
	display: flex;
	font-family: 'Anton';
	font-size: 1.6rem;
	border-radius: 80px 0px 80px 80px;
	background-color: rgba(0, 0, 0, 0.438);
	box-shadow: inset 40px 40px 150px rgba(0, 0, 0, 0.452);
}
.order-space article p {
	text-align: center;
}
.order-half-space {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	color: aliceblue;
}
.buttons {
	display: flex;
}
.orderButton,
.callButton,
.add-cart-button {
	margin: auto;
	border: 2px solid rgb(72, 178, 244);
	border-radius: 7px;
	padding: 7px;
	text-decoration: none;
	color: rgb(72, 178, 244);
}
.add-cart-button {
	border: 2px solid rgb(50, 110, 250);
	color: rgb(2, 66, 217);
}
.orderButton:hover,
.callButton:hover,
.add-cart-button:hover {
	background-color: #c7b6b6;
	color: rgba(39, 33, 205, 0.892);
	transition: 500ms;
}

.order-image {
	background-image: url('https://cdn.pixabay.com/photo/2017/03/10/13/57/cooking-2132874_1280.jpg');
	background-position: center center;
	border-radius: 40px;
}

#about-us {
	margin: auto;
	margin-top: 100px;
	background-color: #000000a6;
	color: rgb(180, 200, 217);
	padding: 10px;
	width: 70vw;
	font-family: 'Roboto Condensed', serif;
	font-size: 20px;
	text-align: justify;
	border-radius: 40px 40px 40px 40px;
}

#main-first-img,
#main-second-img {
	width: 50%;
	padding: 30px;
}
#main-first-img {
	float: left;
}

#main-second-img {
	float: right;
}

#menu {
	background-color: #00000082;
	width: 70vw;
	margin: auto;
	margin-top: 100px;
	border-radius: 40px 40px 40px 40px;
	font-family: Anton;
}
.menu-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.food-position {
	background-color: rgba(213, 143, 13, 0.814);
	width: 250px;
	height: 370px;
	margin: 10px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.food-position img {
	width: 100%;
	height: 50%;
}
.food-position p {
	padding: 5px;
	font-size: 20px;
}
.food-position a {
	display: block;
	width: 50%;
}
.food-position a > img {
	width: 20px;
}
#map {
	background-color: #07000072;
	width: 70vw;
	margin: auto;
	margin-top: 100px;
	border-radius: 40px 40px 40px 40px;
}
.delivery-map {
	width: 650px;
	height: 650px;
	margin: auto;
}

#footer {
	width: 80%;
	margin: auto;
	margin-top: 70px;
	background-color: #00000082;
	padding: 5px;
	border-radius: 40px 40px 0px 0px;
	font-family: 'Bebas Neue';
}

.footer-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: aliceblue;
}

.footer-section {
	margin: 5px 20px;
	height: 100%;
	padding: 7px;
	border-radius: 7px;
	flex-grow: 1;
	font-size: 1.2rem;
}
.our-local {
	flex-grow: 2;
	width: 15%;
}
.our-local img {
	width: 100%;
	box-shadow: inset 40px 40px 150px rgba(0, 0, 0, 0.452);
}
.find-us img {
	width: 30px;
	display: inline-block;
	margin-right: 10px;
	margin-top: -10px;
	justify-content: left;
}
.title {
	text-decoration: underline 2px;
	font-size: 1.6rem;
}
.icons {
	margin-left: 88%;
}

@media (250px <= width <= 650px) {
	h1 {
		font-weight: 200;
		font-size: 1.5rem;
	}
	#header {
		background-color: rgba(0, 0, 0, 0.416);
		width: 100%;
		margin-top: 30px;
		margin-left: 0%;
		font-size: 2rem;
	}
	header span {
		margin: auto 0px;
	}
	.tel {
		font-size: 25px;
		margin-right: 0%;
		width: 200px;
	}
	.tel p {
		padding: 2px;
	}
	#menuItem {
		margin-left: 0%;
		width: 100%;
		justify-content: left;
		border-radius: 0px 0px 30px 30px;
	}
	#menuItem ul li {
		display: block;
	}
	#menuItem ul li a {
		font-size: 1.1rem;
		border: 2px solid rgba(106, 184, 248, 0);
	}
	#menuItem ul li a:hover {
		border: 2px solid rgba(106, 184, 248, 0.842);
	}

	.order-space {
		width: 90%;
		margin: auto;
		margin-top: 10px;
		font-size: 1.4rem;
		border-radius: 30px 30px 30px 30px;
		
	}
	.order-space article p {
		margin-top: 15%;
	}
	.order-half-space {
		display: block;
		width: 100%;
	}
	.orderButton,
	.callButton,
	.add-cart-button {
		margin-top: 10px;
	}
	.order-image {
		display: none;
	}

	#about-us {
		margin-top: 60px;
		width: 100%;
		font-size: 16px;
	}

	#main-first-img,
	#main-second-img {
		width: 100%;
		padding: 10px;
	}
	#main-first-img {
		float: left;
	}

	#main-second-img {
		float: right;
	}

	#menu {
		width: 100vw;
	}

	.food-position {
		width: 200px;
		height: 370px;
		margin: 10px;
	}
	#map {
		background-color: #07000072;
		width: 70vw;
		margin: auto;
		margin-top: 100px;
		border-radius: 40px 40px 40px 40px;
	}
	.delivery-map {
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.delivery-map img {
		width: 100%;
	}

	#footer {
		width: 100%;
		margin-top: 170px;
	}

	.footer-container {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
	}

	.footer-section {
		font-size: 1rem;
	}
	.footer-section.our-local {
		display: none;
	}
	.title {
		font-size: 1.5rem;
	}
}

@media (651px <= width <= 1200px) {
	#header {
		width: 100%;
		margin-top: 40px;
		margin-left: 10%;
		font-size: 3rem;
	}

	.tel {
		font-size: 30px;
		margin-right: 0%;
		width: 250px;
	}
	.tel p {
		padding: 2px;
	}
	#menuItem {
		margin-left: 0%;
		width: 100%;
		justify-content: center;
		border-radius: 0px 0px 30px 30px;
	}
	#menuItem ul li {
		display: inline-block;
		padding-right: 2px;
		padding-left: 2px;
		margin: 10px 10px;
	}
	#menuItem ul li a {
		font-size: 1rem;
		border: 2px solid rgba(106, 184, 248, 0);
	}

	.order-space {
		width: 90%;
		margin: auto;
		margin-top: 10px;
		font-size: 1.4rem;
		border-radius: 30px 30px 30px 30px;
	}
	.order-space article p {
	margin-top: 80px;	
}
	.order-half-space {
		display: block;
		width: 100%;
	}
	.orderButton,
	.callButton,
	.add-cart-button {
		margin-top: 10px;
	}
	.order-image {
		display: none;
	}

	#about-us {
		margin-top: 100px;
		width: 97%;
		font-size: 16px;
	}

	#main-first-img,
	#main-second-img {
		width: 70%;
		padding: 10px;
	}
	#main-first-img {
		float: left;
	}

	#main-second-img {
		float: right;
	}

	#menu {
		width: 100%;
	}

	.food-position {
		width: 250px;
		height: 370px;
		margin: 10px;
	}
	#map {
		background-color: #07000072;
		width: 70vw;
		margin: auto;
		margin-top: 100px;
		border-radius: 40px 40px 40px 40px;
	}
	.delivery-map {
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.delivery-map img {
		width: 100%;
	}

	#footer {
		width: 100%;
		margin-top: 170px;
	}

	.footer-container {
		margin-top: 10px;
		display: flex;
		flex-direction: row;
	}

	.footer-section {
		font-size: 1rem;
	}
	.footer-section.our-local {
		display: none;
	}
	.title {
		font-size: 1.5rem;
	}
}
